<style>
  ::ng-deep mat-dialog-container, .mat-dialog-container {
    transform: none;
    background-color: forestgreen !important;
  }

  ::ng-deep .mat-dialog-content {
    height: 220px !important;
  }

  ::ng-deep mat-label {
    font-size: 13px;
  }
  ::ng-deep mat-slide-toggle {
    font-size: 13px;
  }
</style>

<div style="transform: none;background-color: forestgreen;">
  <p mat-dialog-title class="subtitulo">
    Agregar Inversionista a este Contrato
  </p>
  <div mat-dialog-content>
    <!-- <mat-form-field>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field> -->
    <div class="row justify-content-sm-center">

      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label>Elegir un Inversionista</mat-label>

          <mat-select [(ngModel)]="inv_person" required [ngModelOptions]="{standalone: true}"><!-- el color de letra lo da la clase .mat-select-value -->
            <ng-container *ngFor="let u of data.users">
              <mat-option *ngIf="u.status == data.activo && (u.rol == data.inv || u.rol == data.adm) && (u.contratoId == undefined || u.contratoId == null || u.contratoId == '')"
               value="{{ u.id }}" (click)="selectedInvestor(u.id)">
                {{ (u.rol == data.adm) ? 'Adm:' : '' }} {{ u.nombres }} {{ u.apellidos }}
              </mat-option>
            </ng-container>
          </mat-select>

          <mat-icon matSuffix>person_add</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-sm-12">
        Correo: {{ name2 }}
        <br/>
        Tel&eacute;fono: {{ animal2 }}
      </div>

      <div class="col-sm-12 rights">
        <br/><br/>
        <mat-slide-toggle aria-labelledby="label" [id]="" color="warn" labelPosition="before"
         [disabled]="userSelected == null"
         (change)="toogleResponsabilidad($event)"
         [checked]="false">
          Marcar como Responsable del Contrato: 
        </mat-slide-toggle>
      </div>

    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="userSelected" cdkFocusInitial style="background-color: darkgreen;">
      Agregar
    </button>
  </div>
</div>