<app-sidenav></app-sidenav>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-academics">

  <mat-card class="card-person">
    
    <mat-card-header>
      <div mat-card-avatar><mat-icon>person_pin</mat-icon></div>
      <mat-card-title>
        {{ user.nombres + " " + user.apellidos }}
      </mat-card-title>
      <mat-card-subtitle>
        Perfil en el sistema: 
        <b>
          {{ user.rol }}
        </b>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="center">
      <img mat-card-image class="img-home-persone"
       [src]="user && user.avatarURL ? user.avatarURL : 'assets/images/update_profile.png'" alt="Persona foto de Perfil">
      <p>
        <b>Status:</b> {{ user.status }}
      </p>
      <!-- p>
        <b>Suscripción vence el:</b> 31/31/2021
      </p>
      <p>
        <b>Último pago realizado:</b> 12/12/2020
      </p -->
    </mat-card-content>

    <mat-card-actions class="center">
      <button mat-button (click)="actualizarPerfil()">
        <mat-icon>edit</mat-icon>
        &nbsp; 
        Editar Perfil
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Pagos a Profit Takers</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        Por medio de esta opción podrás tomar una foto de tu recibo de pago
        (Transferencia bancaria, consignación o giro) e indicar los datos básicos:
        Monto, fecha, etc.
        Puedes cargar pagos por concepto de <b>Inversión (Contratos en Profit Takers)</b> 
        o por concepto de <b>Academia</b>
        para continuar tu <b>Suscripción</b> 
        ...
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="nuevoPago()">
        <mat-icon>add_a_photo</mat-icon>
        &nbsp; 
        Cargar Pago
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Historial de pagos</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        Ver tu historial de pagos hechos a Profit Takers.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="pagos()">
        <mat-icon>history</mat-icon>
        &nbsp; 
        Ver mi Historial
      </button>
    </mat-card-actions>

  </mat-card>

  <footer class="rights footerApp">
      Profit Takers LLC
      <br/>
      Bogotá - Colombia - 2019
      <br/>
      All rights reserved.
  </footer>

</div>