<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button type="button" mat-icon-button aria-label="Toggle sidenav"
     color="warn"
      [matMenuTriggerFor]="menuAcademia">
      <mat-icon><!--more_vert-->menu</mat-icon>
    </button>
    <span>Pepito Peérez</span>
    <span class="toolbar-spacer"></span>
    <span><img src="assets/images/logo_negro.png" class="img-fluid toolbar-img-logo" /></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menuAcademia="matMenu">
  <button mat-menu-item (click)="goHome()">
    <mat-icon>home</mat-icon>
    &nbsp;
    Home  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </button>
  <button mat-menu-item (click)="nuevoPago()">
    <mat-icon>add_a_photo</mat-icon>
    &nbsp;
    Cargar nuevo pago
  </button>
  <button mat-menu-item (click)="pagos()">
    <mat-icon>history</mat-icon>
    &nbsp;
    Historial de pagos
  </button>
  <button mat-menu-item>
    <mat-icon>redeem</mat-icon>
    &nbsp;
    Renovar suscripción
  </button>
  <button mat-menu-item (click)="actualizarPerfil()">
    <mat-icon>persone</mat-icon>
    &nbsp;
    Actualizar perfil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>directions_run</mat-icon>
    &nbsp;
    Cerrar sesión
  </button>
</mat-menu>