<app-toolbar-admin></app-toolbar-admin>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-admin">
  
  <mat-card class="card-person-actions">
    <mat-card-header>
      <div class="row">
        <div class="col-md-12 center centrado lNegra">
          <span class="titulo">Crear Cuenta en el Sistema</span>
          <br/><br/>
        </div>
        <div class="col-md-12">
          <span class="pExplain">
            Como Administrador del Sistema Profit Takers podr&aacute;
            crear una <b>Cuenta</b> en el Sistema.
            Sobre las Cuentas ser&aacute;n registradas el balance
             y los subsiguientes movimientos de dinero de la misma.
            Los movimientos de dinero se establecer&aacute;n en la secci&oacute;n de 
            <b>Movimientos</b>. Las Cuentas estar&aacute;n asociadas a <b>Contratos</b>.
          </span>
          <br/><br/>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="full-form profile-form">

        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="nombre">Nombre de la Cuenta</mat-label>
              <input matInput [(ngModel)]="cuenta.nombre" type="text" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>account_balance</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="info">Descripción y/o Observaciones</mat-label>
              <textarea matInput rows="2" [(ngModel)]="cuenta.descripcion" required [ngModelOptions]="{standalone: true}"></textarea>
              <mat-icon matSuffix>import_contacts</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="money">Monto inicial en $ (USD)</mat-label>
              <input matInput [(ngModel)]="cuenta.saldoUSD" type="number" placeholder="Monto inicial en $ (USD)" class="inputRight" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-hint style="color: red;">Este ser&aacute; el capital inicial con el que inicie esta Cuenta. Puede ser cero (0)</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="money">Monto inicial en € (EUR) - Puede ser cero (0)</mat-label>
              <input matInput [(ngModel)]="cuenta.saldoEUR" type="number" placeholder="Monto inicial en $ (EUR)" class="inputRight" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="money">Monto inicial en $ (COP) - Puede ser cero (0)</mat-label>
              <input matInput [(ngModel)]="cuenta.saldoCOP" type="number" placeholder="Monto inicial en $ (COP)" class="inputRight" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center">
            <br/>
            <mat-form-field class="full-width" color="accent">
              <mat-label>Gestor: Elegir un Administrador</mat-label>
              <mat-select [(ngModel)]="cuenta.gestorId" required [ngModelOptions]="{standalone: true}"><!-- el color de letra lo da la clase .mat-select-value -->
                <ng-container *ngFor="let admin of admins; let i = index">
                  <mat-option [value]="admin.id" *ngIf="admin.rol == this.ADM">
                    {{ admin.nombres }} {{ admin.apellidos }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-icon matSuffix>person_add</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <br/><br/>

        <div class="row">
          <div class="col-sm-12 center">
            <button mat-raised-button (click)="createNewAccount()" color="accent"><b>Crear nueva Cuenta</b></button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center">
            <br/>
            <a href (click)="$event.preventDefault();goHome();" class="href-red">Cancelar</a>
          </div>
        </div>

      </form>

      <br/><br/><br/>

    </mat-card-content>
  </mat-card>
</div>