<app-sidenav></app-sidenav>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-academics">

  <mat-card class="card-person">
    
    <mat-card-header>
      <div mat-card-avatar><mat-icon>history</mat-icon></div>
      <mat-card-title>Historial de Pagos</mat-card-title>
      <mat-card-subtitle>Todas las Consignaciones/Transferencias registradas en el Sistema</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      Aquí podrá ver el Historial de todos sus Pagos realizados en este Sistema,
      los cuales son usados como su Crédito disponible en las operaciones de 
      Profit Takers (Inversión o Academia).
      <br/>
      Recuerde que deben ser realizadas a través de nuestras vías de Pago avaladas 
      (ver pie de página en la sección de Registrar pago nuevo)
      <br/>
      Nota: Todos sus registros se crean inicialmente con el estatus "No confirmado",
      hasta que uno de nuestros Administradores confirme su giro/pago entonces
      lo marcará como "Confirmado". Cualquier duda se puede comunicar con nuestros 
      Asesores Profit Takers.
    </mat-card-content>
  </mat-card>

</div>