<app-toolbar-admin></app-toolbar-admin>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-admin">

  <mat-card class="card-person">
    
    <mat-card-header>
      <div mat-card-avatar><mat-icon>person_pin</mat-icon></div>
      <mat-card-title>
        {{ user.nombres + " " + user.apellidos }}
      </mat-card-title>
      <mat-card-subtitle>Administrador</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="center">
      <img mat-card-image class="img-home-persone" alt="Persona foto de Perfil" 
       [src]="user && user.avatarURL ? user.avatarURL : 'assets/images/update_profile.png'">
      <p>
        <b>Info:</b> Alguna info útil que mostrar aquí.
      </p>
    </mat-card-content>

    <mat-card-actions class="center">
      <button mat-button (click)="actualizarProfile()">
        <mat-icon>edit</mat-icon>
        &nbsp; 
        Editar Perfil
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Contratos</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        un <b>Contrato</b> va atado a una <b>Cuenta</b>. 
        Un Contrato puede tener uno o más <b>Inversionistas</b> pero un solo <b>Responsable</b>. 
        En un Contrato se definen también Porcentaje de rentabilidad y Día de corte.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="seeContracts()">
        <mat-icon>people</mat-icon>
        &nbsp; 
        Ver Contratos
      </button>
      <button mat-button (click)="createContract()">
        <mat-icon>group_add</mat-icon>
        &nbsp; 
        Crear Contrato
      </button>
    </mat-card-actions>
  
  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Cuentas</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        una <b>Cuenta</b> tiene asignación (ingresos/egresos) de capital (disponible en USD dólares, Euros y Pesos Colombianos).
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="seeAccounts()">
        <mat-icon>account_balance</mat-icon>
        &nbsp; 
        Ver Cuentas
      </button>
      <button mat-button (click)="createAccount()">
        <mat-icon>note_add</mat-icon>
        &nbsp; 
        Crear Cuenta
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Movimientos</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        los <b>Movimientos</b> se realizan sobre una <b>Cuenta</b>. 
        Se debe especificar fecha del movimiento, aporte de capital, 
        si dicho aporte fue negativo (-) o positivo (+) los cuales afectan directamente 
        el capital disponible en dicha Cuenta.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="seeTradings()">
        <mat-icon>receipt</mat-icon>
        &nbsp; 
        Ver Movimientos
      </button>
      <button mat-button (click)="createTrading()">
        <mat-icon>trending_up</mat-icon>
        &nbsp; 
        Crear Movimiento
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Personas</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        Administradores, Inversionistas y personas afiliadas a la Academia. 
        Puedes gestionar personas nuevas en esta opción.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="seeUser()">
        <mat-icon>streetview</mat-icon>
        &nbsp; 
        Ver Usuarios
      </button>
      <button mat-button (click)="createUser()">
        <mat-icon>person_add</mat-icon>
        &nbsp; 
        Crear Usuario
      </button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="card-person-actions">

    <mat-card-header>
      <mat-card-title>Reportes</mat-card-title>
      <mat-card-subtitle class="subtitle-actions">
        Existen diversas opciones de Reportes, una por cada Entidad en el Sistema. 
        Las Entidades son: <b>Contratos, Cuentas, Movimientos</b> y <b>Personas</b>.
        Adicionalmente, podrás ver Reportes sobre los pagos de los estudiantes de la Academia 
        y en general los concernientes al pago de Mensualidades y Aportes Trading.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="center">
      <button mat-button (click)="reports('tradings')">
        <mat-icon>vertical_split</mat-icon>
        &nbsp; 
        Cuenta y Movimientos
      </button>
      <br/><br/>
      <button mat-button (click)="reports('people')">
        <mat-icon>assignment_ind</mat-icon>
        &nbsp; 
        por Persona
      </button>
      <button mat-button (click)="payments()">
        <mat-icon>attach_money</mat-icon>
        &nbsp; 
        Ver/Certificar Pagos
      </button>
    </mat-card-actions>

  </mat-card>


  <footer class="rights footerApp">
      Profit Takers LLC
      <br/>
      Bogotá - Colombia - 2019
      <br/>
      All rights reserved.
  </footer>

</div>

<button mat-fab class="mat-fab mat-fab-bottom-right" aria-label="Nuevo Movimiento Trading"
 (click)="createTrading()" matTooltipPosition="below"
 matTooltip="Registrar nuevo Movimiento (Trading)" aria-label="Registrar nuevo Movimiento (Trading)">
  <mat-icon>trending_up</mat-icon>
</button>

<br/><br/><br/><br/><br/>