<app-toolbar-admin></app-toolbar-admin>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-admin">

  <mat-card class="example-card">
    <mat-card-header>
      <div class="row">
        <div class="col-md-12 center centrado">
          <span class="titulo">Crear Usuario en el Sistema</span>
          <br/><br/>
        </div>
        <div class="col-md-12">
          <span class="pExplain lBlanca">
            Como Administrador del Sistema Profit Takers podr&aacute;
            crear un Usuario en el Sistema, ya sea otro <b>Administrador</b>, 
            un <b>Inversionista</b> o un <b>estudiante de la Academia</b>.
            El estatus <b>Ambos</b> significa que este usuario ser&aacute; 
            un estudiante de la Academia y un Inversionista a la vez.
          </span>
          <br/><br/>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="full-form profile-form">

        <div class="row">
          <div class="col-sm-12">
            <mat-label id="nombre">Elija un tipo de Usuario</mat-label><br/>
            <mat-radio-group aria-label="Elija un tipo de Usuario" [(ngModel)]="rol" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="i">Inversionista</mat-radio-button>
              <mat-radio-button value="e">Estudiante</mat-radio-button>
              <!-- mat-radio-button value="a">Ambos</mat-radio-button -->
              <br/>
              <mat-radio-button value="x" style="margin-left: 0px;">
                Administrador (tendr&aacute; los mismos privilegios que ud.)
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row justify-content-xs-center">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="nombre">Nombres</mat-label>
              <input matInput [(ngModel)]="nombre" type="text" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>person_outline</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-xs-center">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="apellido">Apellidos</mat-label>
              <input matInput [(ngModel)]="apellido" type="text" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>spellcheck</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-xs-center">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="email">Email (correo electr&oacute;nico)</mat-label>
              <input matInput [(ngModel)]="email" type="text" required [ngModelOptions]="{standalone: true}"
               on-focus="validarUnicoEmail()" on-focusout="validarUnicoEmail()">
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint style="color: red;">{{ bErrorEmailRepetido == true ? msgErrorEmailRepetido : '' }}</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-xs-center">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="telefono">Tel&eacute;fono de contacto (preferiblemente Celular)</mat-label>
              <input matInput [(ngModel)]="telefono" type="text" required [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-xs-center">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="ciudad">Ciudad</mat-label>
              <input matInput [(ngModel)]="ciudad" type="text" [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>public</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="direccion">Direcci&oacute;n</mat-label>
              <input matInput [(ngModel)]="direccion" type="text" [ngModelOptions]="{standalone: true}">
              <mat-icon matSuffix>edit_location</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="info">Info extra (grado, cargo, intereses, etc.)</mat-label>
              <textarea matInput rows="2" [(ngModel)]="info" [ngModelOptions]="{standalone: true}"></textarea>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-sm-12">
            <u>Nota:</u> 
            Debido a sus privilegios Administrativos, &eacute;ste nuevo usuario se crear&aacute;
            de una vez con ESTATUS = 'ACTIVO'; a diferencia de la Solicitud de 
            nueva cuenta Profit Takers (en la p&aacute;gina de Login) la cual debe
            ser Activada por alg&uacute;n Administrador (de lo contrario dichos 
            usuarios permanecer&aacute;n en estatus 'Inactivo' 
            y no podr&aacute;n ingresar al Sistema).
            <br/><br/>
          </div>

          <div class="col-sm-12 center">
            <button mat-raised-button (click)="createNewUser()" color="accent"><b>Crear Usuario</b></button>
          </div>

          <div class="col-sm-12 center">
            <br/>
            <a href (click)="$event.preventDefault();goHome();" class="href-red">Cancelar</a>
          </div>
          
        </div>
      </form>
      <br/><br/><br/>
    </mat-card-content>
  </mat-card>


</div>