<style>
  ::ng-deep mat-dialog-container, .mat-dialog-container {
    transform: none;
    background-color: forestgreen !important;
  }

  ::ng-deep .mat-dialog-content {
    height: 470px !important;
  }

  ::ng-deep mat-label {
    font-size: 13px;
  }
  ::ng-deep mat-slide-toggle {
    font-size: 13px;
  }
</style>

<div style="transform: none;background-color: forestgreen;">
  <p mat-dialog-title class="subtitulo">
    Agregar Inversionista a este Contrato
  </p>
  <div mat-dialog-content>
    
    <div class="row justify-content-sm-center">

      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label>Elegir un Inversionista</mat-label>

          <mat-select [(ngModel)]="inv_person" required [ngModelOptions]="{standalone: true}"><!-- el color de letra lo da la clase .mat-select-value -->
            <ng-container *ngFor="let u of data.users">
              <mat-option *ngIf="u.status == data.activo && u.rol == data.adm && (u.contratoId == undefined || u.contratoId == null || u.contratoId == '')"
               value="{{ u.id }}" (click)="selectedInvestor(u.id)">
                Adm: {{ u.nombres }} {{ u.apellidos }}
              </mat-option>
              <mat-option *ngIf="u.status == data.activo && u.rol == data.inv && (u.contratoId == undefined || u.contratoId == null || u.contratoId == '')"
               value="{{ u.id }}" (click)="selectedInvestor(u.id)">
                {{ u.nombres }} {{ u.apellidos }}
              </mat-option>
            </ng-container>
          </mat-select>

          <mat-icon matSuffix>person_add</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-xs-6 rights" style="font-size: 14px;">
        Correo:
        <br/>
        Tel&eacute;fono:
        <br/>
        Saldo Disponible en USD:
        <br/>
        Saldo Disponible en EUR:
        <br/>
        Saldo Disponible en COP:
      </div>

      <div class="col-xs-6 sideInfoMini">
        &nbsp; {{ correo }}
        <br/>
        &nbsp; {{ telef }}
        <br/>
        &nbsp; $ {{ availableUSD | number: '1.2-2' }}
        <br/>
        &nbsp; € {{ availableEUR | number: '1.2-2' }}
        <br/>
        &nbsp; $ {{ availableCOP | number: '1.2-2' }}
      </div>

      <div class="col-sm-12">
        <br/>
        <mat-form-field class="full-width" color="accent">
          <mat-label id="saldo">Indique Monto con el que ingresará al Contrato</mat-label>
          <input matInput [(ngModel)]="monto" type="number" class="inputRight" required [ngModelOptions]="{standalone: true}"
           style="color: black;">
          <mat-icon matSuffix>timeline</mat-icon>
          <mat-hint style="color: red;">{{ bErrorMontoMayor ? msgErrorMontoMayor : '' }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-sm-12 center">
        <br/>
        <mat-form-field class="full-width" color="accent">
          <mat-label>En qué Moneda...</mat-label>
          <mat-select [(ngModel)]="currency" required [ngModelOptions]="{standalone: true}"><!-- el color de letra lo da la clase .mat-select-value -->
            <mat-option value="USD">USD ($ - U.S. Dólares)</mat-option>
            <mat-option value="EUR">EUR (€ - Euros)</mat-option>
            <mat-option value="COP">COP ($ - Pesos Colombianos)</mat-option>
          </mat-select>
          <mat-icon matSuffix>euro_symbol</mat-icon>
        </mat-form-field>
      </div>

    </div>

    <div class="row justify-content-sm-center">
      <div class="col rights">
        <br/>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        &nbsp; 
        <button mat-button [mat-dialog-close]="validarYcerrar()" cdkFocusInitial style="background-color: darkgreen;">
          Agregar
        </button>
      </div>
    </div>

  </div>
</div>