<app-toolbar-admin></app-toolbar-admin>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-admin">
    
  <mat-card class="card-person-actions">
    <mat-card-header>
      <div class="row">
        <div class="col-md-12 center centrado lNegra">
          <span class="titulo">Crear Movimiento</span>
          <br/><br/>
        </div>
        <div class="col-md-12">
          <span class="pExplainmINI">
            Como Administrador del Sistema Profit Takers podr&aacute;
            crear <b>Movimientos</b>.
            Un Movimiento afectar&aacute; el balance de una <b>Cuenta</b> 
            la cual puede estar relacionada a uno o m&aacute;s <b>Contratos</b>.
            <ul>
              <li>Los <b>Movimientos</b> son operaciones Trading realizadas sobre una Cuenta.</li>
              <li>Ser&aacute; el deber de alg&uacute;n Administrador actualizar las operaciones Trading en este sistema.</li>
            </ul>
          </span>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="full-form profile-form">

        <div class="row" *ngIf="accounts.length == 0">
          <div class="col center">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </div>

        <div class="row justify-content-sm-center">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <!-- 
              <mat-label id="fecha">Fecha del Movimiento</mat-label>
              <input matInput [(ngModel)]="fecha" name="fecha" type="date" required [max]="fechaFinal">
              <mat-icon matSuffix>today</mat-icon>
             -->
              <mat-label>Fecha del Movimiento</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Fecha del Movimiento" name="fecha" [(ngModel)]="fecha" class="inputRight">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label>Cuenta: Elegir una</mat-label>
              <mat-select required><!-- el color de letra lo da la clase .mat-select-value -->
                <ng-container *ngFor="let acc of accounts">
                  <mat-option *ngIf="acc.estatusActivo == true" value="{{ acc.id }}" (click)="selectedAccount(acc.id)">
                    {{ acc.nombre }} ({{ acc.descripcion }})
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-icon matSuffix>account_balance</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row infoPanelGris">
          <div class="col-12">
            <b>Saldo disponible en Cuenta:</b>
          </div>
          <div class="col-4 center">
            USD <br/> $ {{ accountAvailableUSD | number: '1.2-2' }}
          </div>
          <div class="col-4 center">
            EUR <br/> € {{ accountAvailableEUR | number: '1.2-2' }}
          </div>
          <div class="col-4 center">
            COP <br/> $ {{ accountAvailableCOP | number: '1.2-2' }}
          </div>
          <div class="col-12">
            <br/>
            <b>Contratos vinculados a esta Cuenta:</b>
            <ul *ngIf="accountSelectedContracts.length > 0">
              <li *ngFor="let contrato of accountSelectedContracts">
                <a href (click)="$event.preventDefault(); verMasDetalles(contrato.id)" matTooltipPosition="below"
                 matTooltip="Click aquí para ver más detalles" aria-label="Click aquí para ver más detalles">
                  {{ contrato.nombre }}
                </a>
                (status: {{ contrato.estatusActivo == true ? 'Activo' : 'Inactivo' }}) 
                Nº Inversionistas: <b>{{ contrato.inversionistas.length }} </b>
              </li>
            </ul>
            
          </div>
        </div>

        <br/>
        <hr/>

        <div class="row">
          <div class="col-sm-12 rights">
            <mat-form-field class="full-width" color="accent">
              <mat-label id="expense">D&eacute;bito</mat-label>
              <input matInput [(ngModel)]="debito" name="expense" type="number" [ngModelOptions]="{standalone: true}"
               on-focus="focusOperacion()" on-focusout="focusOperacion()">
              <mat-icon matSuffix>monetization_on</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 center">
            <mat-form-field class="full-width" color="accent">
              <mat-label>En qué Moneda...</mat-label>
              <mat-select [(ngModel)]="currency" required [ngModelOptions]="{standalone: true}" on-focus="focusOperacion()" on-focusout="focusOperacion()"><!-- el color de letra lo da la clase .mat-select-value -->
                <mat-option value="USD">USD ($ - U.S. Dólares)</mat-option>
                <mat-option value="EUR">EUR (€ - Euros)</mat-option>
                <mat-option value="COP">COP ($ - Pesos Colombianos)</mat-option>
              </mat-select>
              <mat-icon matSuffix>euro_symbol</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="col-sm-12 infoPanelGris">
            <b>Resultado de la Operaci&oacute;n:</b>
            <br/>
            {{ calculoOperacionUSD | number: '1.2-2' }}
            <br/>
            {{ calculoOperacionEUR | number: '1.2-2' }}
            <br/>
            {{ calculoOperacionCOP | number: '1.2-2' }}
            <br/>
            <span class="footerApp" style="font-family: SFMono-Regular,Menlo,Monaco,Consolas,monospace;">
              *Este cálculo de es generado automaticamente a manera informativa,
              no tendrá efecto hasta que no pulse el botón 'Registrar Movimiento'.
            </span>
          </div>
        </div>

        <hr/>
          
        <div class="row">
          <div class="col-sm-12">
            <u>Nota:</u>
            Este Movimiento tomar&aacute; efecto inmediatamente sobre la Cuenta y sus Inversionistas seg&uacute;n el Porcentaje asignado.
            <i>Puede demorar algunos segundos mientras crea/actualiza el Movimiento del día, la data necesaria para los Reportes y el saldo de la Cuenta seleccionada</i>.
            <br/><br/>
          </div>
          
          <div class="col-sm-12 center">
            <button mat-raised-button (click)="newTrading()" color="accent"><b>Registrar Movimiento</b></button>
          </div>

          <div class="col-sm-12 center">
            <br/>
            <a href (click)="$event.preventDefault();goHome();" class="href-red">Cancelar</a>
          </div>
        </div>

        <br/><br/><br/>

      </form>
    </mat-card-content>
  </mat-card>
</div>