<app-sidenav></app-sidenav>

<!-- Para dejar un espacio superior para el toolbar -->
<div class="filler-top"></div>

<div class="container-academics">
  
  <form class="full-form profile-form">

    <div class="row">
      <div class="col-sm-12 center">
        <br/><br/>
        <span class="titulo">Tu Perfil:</span>
        <br/>
        <span class="subtitulo">Puedes establecer cambios y pulsar 'Actualizar'.</span>
        <br/><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 center">
        Rol actual en el sistema: <b> {{ user.rol }} </b>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="nombre">Nombres</mat-label>
          <input matInput [(ngModel)]="user.nombres" type="text" required [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="apellido">Apellidos</mat-label>
          <input matInput [(ngModel)]="user.apellidos" type="text" required [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>spellcheck</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="email">Email (correo electrónico)</mat-label>
          <input matInput [(ngModel)]="user.email" type="text" disabled ng-readonly="true" style="color: black; background-color: #dadada;" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint style="color: red;">El email no puede ser modificado. Es tu identificador único en nuestro Sistema.</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="ciudad">Ciudad</mat-label>
          <input matInput [(ngModel)]="user.ciudad" type="text" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="direccion">Dirección</mat-label>
          <input matInput [(ngModel)]="user.direccion" type="text" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>edit_location</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="telefono">Teléfono de contacto (preferiblemente celular)</mat-label>
          <input matInput [(ngModel)]="user.telefono" type="text" required [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>contact_phone</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="info">Info extra sobre tí (grado, cargo, intereses, etc.)</mat-label>
          <textarea matInput rows="2" [(ngModel)]="user.hobbies" [ngModelOptions]="{standalone: true}"></textarea>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <button mat-raised-button (click)="updatePerfil()" color="accent"><b>Actualizar mis datos</b></button>
      </div>
    </div>
  </form>
  
  <hr class="form-divisor" />

  <form class="full-form profile-form">

    <div class="row">
      
      <!--div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="passw">Contraseña</mat-label>
          <input matInput [(ngModel)]="passw" name="passw" [type]="typePassw" required>
          <mat-icon matSuffix (click)="tooglePassword()">{{ iconPassw }}</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-12 center">
        <mat-form-field class="full-width" color="accent">
          <mat-label id="rep_passw">Repetir Contraseña</mat-label>
          <input matInput [(ngModel)]="rep_passw" name="rep_passw" [type]="typePassw" required>
          <mat-icon matSuffix (click)="tooglePassword()">{{ iconPassw }}</mat-icon>
        </mat-form-field>
      </div -->
      <div class="col-sm-12 center">
        Para cambiar su contraseña actual pulse el siguiente botón.
        <br/>
        <span style="color: red;">Nota:</span> 
        se enviará un correo electrónico a la dirección 
        <br/>
        <b>{{ user.email }}</b>
        <br/>
        donde deberá indicar la nueva contraseña para su <b>Cuenta Profit Takers</b>.
        <br/><br/>
      </div>
      <div class="col-sm-12 center">
        <button mat-raised-button (click)="updatePassword()" color="accent"><b>Actualizar contraseña</b></button>
      </div>
    </div>
  </form>
      
  <hr class="form-divisor" />

  <form class="full-form profile-form">

    <div class="row">
      <div class="col-sm-12 center">
        <span class="subtitulo">Tu Foto de Perfil</span>
        <br/><br/>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <mat-icon matSuffix style="font-size: 50px;">add_a_photo</mat-icon>
        <br/>
        Cargar imagen  
        <span style="color: red;">*</span> 
        (extensión permitida: .PNG)
        <input type="file" (change)="fileChangeEvent($event)">
      </div>
    </div>

    <div class="row">
      <div class="col center">
        <!-- https://www.npmjs.com/package/ngx-image-cropper  | [aspectRatio]="4 / 3" -->
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="128"
          onlyScaleDown="true"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
          alignImage="center"
        ></image-cropper>
      </div>
    </div>

    <div class="row">
      <div class="col center">
        <div class="footerApp">
          Resultado del ajuste:
        </div>
        <div class="">
          <img [src]="user.avatarURL || croppedImage || 'assets/images/update_profile.png'" style="width: 100%;">
        </div>
      </div>
    </div>
    
    <div class="row" *ngIf="croppedImage">
      <div class="col-2 center">
        <br/>
        <mat-icon matSuffix>crop</mat-icon>
      </div>
      <div class="col-8 center">
        Redimensione la imagen usando las flechas de dirección.
        Cuando termine, puede pulsar el botón final "Actualizar foto de perfil".
      </div>
      <div class="col-2 center">
        <br/>
        <mat-icon matSuffix>crop_free</mat-icon>
      </div>
    </div>
    <div class="col-sm-12 center">
      <br/>
      <button mat-raised-button (click)="updateProfilePicture()" color="accent"><b>Actualizar foto de perfil</b></button>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 center">
      <br/>
      <a href (click)="$event.preventDefault();goHome();" class="href-red">Volver sin guardar cambios</a>
    </div>
  </div>

  <br/><br/><br/>

</div>