@import '@angular/material/prebuilt-themes/purple-green.css';

/* You can add global styles to this file, and also import other style files */
.full-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}
.centerChrome {
  text-align: -webkit-center;
}

.rights {
  text-align: right;
}
.ends {
  text-align: end;
}

.mat-app-background {
  background-color: #e4e3e352;
}

/****************************************
 *  FAB buttons
 */
.mat-fab-bottom-right {
  position: fixed !important;
  right: 15px;
  bottom: 20px;
}
.mat-fab-bottom-left {
  position: fixed !important;
  left: 15px;
  bottom: 20px;
}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #428d39;
}

/****************************************
 *  Contenedores de cada tipo de usuario
 */
.container-academics {
  color: black;
  font-family: arial,sans-serif;
  font-size: small;
  margin: 10px;
}
.container-admin {
  color: black;
  font-family: arial,sans-serif;
  font-size: small;
}

.img-home-persone {
  max-width: 300px;
}

/************************************
 * Estilos de Cards
 */
mat-card {
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #424242d9;
}

mat-card.card-person-actions {
  background: #fff;
  color: #424242;
}

mat-card-subtitle.subtitle-actions {
  color: #000;
}

.card-person-actions mat-card-actions button {
  background-color: #33dc17cc;
}

.card-table-results {
  margin-top: 1px;
  margin-bottom: 1px;
}

.card-table-results mat-card-actions button {
  background-color: #428d39;
}

.sombras {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) !important;
}

/*************************
 * Estilos generales del encabezado
 */
.filler-top {
  margin-top: 60px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.mat-toolbar.mat-accent {
  background: #428d39;
  color: rgba(0,0,0,.87);
}

.mat-toolbar.mat-warn {
  color: #c3292c;
}

.mat-menu-panel {
  background: #428d39;
}

/*********************
 * Pie de página
 */
.footerApp {
  font-size: smaller;
}

/*********************
 * Formularios
 */
.profile-form mat-label {
  color: #428d39;
}

/* <hr/> */
.form-divisor {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #428d39;
  height: 1px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.infoPanelGris {
  background-color: #d3d3d3bf;
  border-left-width: 10px;
  padding: 10px;
  border-radius: 10px;
}

.inputRight {
  text-align: right !important;
}

.pointer {
  cursor: pointer;
}
.question {
  cursor: help;
}

.snackbar-accion-succes {
  background-color: #92d18b
}
.snackbar-accion-succes .mat-simple-snackbar-action {
  color: black;
  background-color: #2b5826;
  font-weight: 900;
  border-radius: 5px;
}

.snackbar-accion-failure {
  background-color: rgb(212, 179, 184);
}
.snackbar-accion-failure .mat-simple-snackbar-action {
  color: black;
  background-color: rgb(156, 48, 66);
  font-weight: 900;
  border-radius: 5px;
}

/********************
 * Letras
 */
 .titulo {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline solid #428d39;
}
.subtitulo {
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
}

.titulo2 {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline solid #428d39;
  color: #bbb;
}
.subtitulo2 {
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  color: #bbb;
}

.href-red {
  color: #e84c4c;
  font-size: 17px;
}

.pExplain {
  font-size: 15px;
  text-decoration: none;
  font-family: arial,sans-serif;
}
.pExplainMini {
  font-size: 12px;
  text-decoration: none;
  font-family: arial,sans-serif;
}

.lNegra {
  color: black;
}

.lBlanca {
  color: #bbb;
}

.letrasRojasSobreNegro {
  color: #f35e5e;
}

.mat-select-value {
  color: black;
}

.monto {
  color: black;
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
}

.montoFecha {
  color: gray;
  font-family: monospace;
  font-size: 18px;
  font-weight: 600;
}

.montoFecha2 {
  color: #afadad;
  font-family: monospace;
  font-size: 14px;
  font-weight: 500;
}

.font40 {
  font-size: 40px;
}

.sideInfoMini {
  font-family: monospace;
  color: black;
  font-size: 14px;
}

.reporte-cabecera {
  font-family: monospace;
  color: #428d39;
  font-size: 14px;
  font-weight: bolder;
}
.reporte-cabecera2 {
  font-family: monospace;
  color: black;
  font-size: 12px;
}
.reporte-cabecera-totales1 {
  font-family: monospace;
  color: #fff;
  font-size: 14px;
}

/********************
 * Estilos de DIV's
 */

/* para las <u>Nota:</u> */
.bordeNota {
  margin: 20px;
}

.noMargins {
  margin: 0px !important;
}



/********************
 * Estilos de Tablas
 */
.tableResults {
  width: 100%;
  font-size: 12px !important;
}


/********************
 * Estilos de Modales
 */
 .modalDetail {
  font-family: monospace;
  font-style: normal;
  font-size: 16px;
}